.whysustainibility{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10%;
}

.whysustainibility img{
    max-width: 40%;
    max-height: 40%;
    border-radius: 20px;
}
.s2-content{
    max-width: 40%;
    max-height: 40%;
}
.s2-content h2{
font-weight: 500;
}
.s2-text{
    margin: 30px 0px;
}
.whysustainibility:nth-child(4) img{
    max-width: 28.5%;
}
.section2{
    background-color: rgb(248, 232, 213);
    margin: 0;
}
section{
    margin: 0;
}