*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    background-color: rgb(204, 239, 204);
    margin: 15px 2px;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.left{
    display: flex;
    margin: 0px 10px;
    align-items: center;
    justify-content: space-evenly;
    padding: auto;
    padding-left: 15px;
    gap: 15px;

}
.left h1{
    color: darkslategray;
    text-shadow: 2px 0px 5px rgb(55, 91, 1);
}
.right{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 290px;
}
.lis{
    list-style: none;
 font-size: 1.1rem;
  padding: 5px;
  border-radius: 10px;
}
.icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
}
#signup{
    border-radius: 10px;
    position: relative;
    font-size: 1.3rem;
    right: 50px;
}
#signup:hover{
    font-size: 1.4rem;
    background-color: darkslategray;
}
.lis:hover{
    font-size: 1.15rem;
    background-color: darkslategray;
}
.footchild{
    max-width: 20%;
}