
*{
    margin: 0;
    padding: 0;
 font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
html {  
    font-size: 16px; /* Base font size */  
}  
html *{
	color: white;
}
body {  
    font-size: 1rem; /* Use 1rem to match html font size */  

}  
main{
    background-image: url(https://i.pinimg.com/736x/67/2e/50/672e504a400325ebff210524476bf432.jpg);
    background-size: 100% 100%;
}
h1 {  
    font-size: 2em; /* Relative to body font size */  
}  
h2{
	font-size: 1.5em;
}
h3{
	font-size: 1.25em;
}
#announcement-panel {
	padding-top: 80px;
	padding-bottom: 80px;
}
.form1{
	min-width: 45%;
	
}
.center{
	display: flex;
	justify-content: center;
}
#announcement-header, #announcement-subheader {
	color: white;
	padding: 5px;
}

#announcement-header {
	font-size: 4em;
}

#announcement-subheader {
	font-size: 2em;
}

#form, #results {
	padding: 40px;
}

#announcement-panel {
	background-image: url("../images/green-leaves.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

#home-energy-label, .fa-home {
	color: #FF8C00;
}

#travel-label, .fa-globe {
	color: #008B8B;
}

#waste-label, .fa-recycle {
	color: #228B22;
}

.progress-bar {
	font-size: 1.2em;
}

.score-info {
	padding: 10px;
	margin: 0;
}


.side {
	
	padding: 20px;
	text-align: center;
  }
  
  .main {   
	/* flex: 70%; */
	padding: 15px;
  }
  
  .fakeimg2 {
	background-image: url("../images/carbon-footprint.jpg");
	width: 550px;
	padding: 200px;
	padding-left: 80px;
	margin-left: 20px;
  }
  
  .fakeimg3 {
	background-image: url("../images/3R\'s.jpg");
	background-repeat: no-repeat; /* Avoid repeating the background image */
	background-position: center left;
	width: 600px;
	height: 600px; /* Set a fixed height to maintain aspect ratio */
	margin-left: 10px;
	margin-right: 20px;
	margin-top: 60px;
  }
  
  .footer {
	padding: 5px;
	text-align: center;
	background-color: darkgreen;
  }

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(29, 21, 21);
    min-height: 45vh;
    align-items: center;
    position: relative;
    bottom: 0;
    width: 100%;
	color: white;
}
.m{
    margin: 4px 0px;
}
.social-media{
display: flex;
gap: 20px;
margin: 15px 0px;
}
#copyright{
    position: absolute;
    bottom: 0;
    font-size: 0.825rem;
}
